@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

.recipes {
  position: relative;
  height: 7.5rem;
  width: 19.6rem;
  border-radius: 1rem;
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  background-color: var(--color-primary-light);
}

.recipes__text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.4rem;
}

.recipes__text--kcal {
  font-size: 0.75rem;
  color: var(--color-primary);
  font-weight: 600;
  margin: 0;
}

.recipes__text--title {
  line-height: 1.4rem;
  margin: 0;
}

.recipes__text--ingredients {
  font-size: 0.75rem;
   color: #767676;
   font-weight: 300;
  margin: 0;
}

.recipes__heart{
  position: absolute;
  right: 1.1rem;
  top: 1.1rem;
}
