.tracking {
  width: 20rem;
  height: 5.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
  border-radius: 1.5rem;
  background: #A3A0CA;
  align-items: center;
}

.tracking__text {
  font-size: 1.1rem;
  color: white;
  margin: 1.2rem 1.7rem 1.2rem 2rem;
  line-height: 1.6rem;
}

.tracking__viewNow {
  width: 6.1rem;
  display: grid;
  grid-template-columns: 80% 20%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  color: #C6C4DE;
  font-size: 0.75rem;
  background: white;
  align-items: center;
}